/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'Manrope';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff'),
    url('../fonts/Manrope-Regular.ttf') format('truetype');
}


@font-face
{
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.ttf') format('truetype');
}


@font-face
{
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Semibold.woff2') format('woff2'),
    url('../fonts/Manrope-Semibold.woff') format('woff'),
    url('../fonts/Manrope-Semibold.ttf') format('truetype');
}


@font-face
{
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/Manrope-Bold.woff') format('woff'),
    url('../fonts/Manrope-Bold.ttf') format('truetype');
}


@font-face
{
    font-family: 'Manrope';
    font-weight: 800;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff'),
    url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
}
